/**
 * CalendarTooltip component styles.
 * 
 * Uses:
 * - Styles/color.scss - Color variables ($border-color, $font-size-smaller, $text-light)
 * - Styles/base.scss - Mixins
 * - Styles/tooltip.scss - Placeholder (%tooltip-base) - for tooltip base styles
 */

@use "../../../Styles/color" as *;
@use "../../../Styles/base" as *;
@use "../../../Styles/tooltip" as *;

.calendar-tooltip {
  @extend %tooltip-base;
  
  max-height: 80vh;
  overflow-y: auto;

  &__group {
    padding: 0.75rem 0;
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }

  &__date {
    font-weight: 600;
    font-size: $font-size-smaller;
    margin-bottom: 0.5rem;
  }

  &__event-type {
    font-weight: 600;
    font-size: $font-size-smaller;
    margin-bottom: 0.5rem;
  }

  &__plant-list {
    list-style: none;
    padding-left: 0.75rem;
  }

  &__plant-item {
    color: $text-light;
    font-size: $font-size-smaller;
    padding: 0.25rem 0;
  }
}

