@use "../../Styles/color" as *;
@use "../../Styles/mixins" as *;

.panel {
  width: 100%;
  max-width: 80%;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.75rem;
  background-color: $background-light;
  border: 1px solid $border-color;
  box-shadow: $panel-shadow;
}

.panel__title {
  margin: 0 0 0.75rem;
  color: $text-color;
}

.panel__content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}


