/**
 * PlantsList component styles.
 * 
 * Uses:
 * - Styles/color.scss - Color variables
 * - Styles/base.scss - Mixins (@include tablet, @include desktop)
 */

@use "../../../Styles/color" as *;
@use "../../../Styles/base" as *;

.plants-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }

  @include desktop {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}