/**
 * CalendarMonth component styles.
 * 
 * Uses:
 * - Styles/color.scss - Color variables ($font-size-smaller, $background-light, $border-color)
 * - Styles/base.scss - Mixins
 */

@use "../../../Styles/color" as *;
@use "../../../Styles/base" as *;

.calendar-month {
  width: 100%;
}

.calendar-month__header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0;
}

.calendar-month__day-name {
  text-align: center;
  font-size: $font-size-smaller;
  font-weight: 600;
  background-color: $background-light;
  border: 1px solid $border-color;
}

.calendar-month__grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0;
}

