@use "../../Styles/color" as *;
@use "../../Styles/base" as *;

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.input-field__label {
  font-weight: 600;
}

.input-field__input {
  width: 100%;
  padding: 0.75rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid $border-color;
  background-color: $background-color;
  font-family: 'Sour Gummy', sans-serif;

  &:focus {
    outline: 2px solid $accent-green;
    outline-offset: 2px;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}


