@use "../../../Styles/color" as *;
@use "../../../Styles/base" as *;

.planner-date-input {
  width: 100%;
}

.planner-date-input .input-field {
  width: 100%;
  max-width: 18rem;
  margin: 0 auto;

  @media (max-width: 374px) {
    max-width: 16rem;
  }

  @include tablet {
    margin-left: 0;
    margin-right: auto;
  }
}

.planner-date-input .input-field__input {
  width: 100%;
  max-width: 18rem;

  @media (max-width: 374px) {
    max-width: 16rem;
  }
}

.planner-date-input__actions {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.planner-date-input__confirm-button {
  background-color: $primary-green;
  color: $header-text;
  border-color: $primary-green;

  &:hover:not(:disabled) {
    background-color: darken($primary-green, 10%);
    border-color: darken($primary-green, 10%);
  }
}

.planner-date-input__cancel-button {
  background-color: $warning-color;
  color: $header-text;
  border-color: $warning-color;

  &:hover:not(:disabled) {
    background-color: darken($warning-color, 10%);
    border-color: darken($warning-color, 10%);
  }
}

.planner-date-input__error {
  margin-top: 0.5rem;
  color: $error-color;
  font-size: $font-size-smaller;
}

.planner-date-input__warning {
  margin-top: 0.5rem;
  color: $warning-color;
  font-size: $font-size-smaller;
}

