@use "../../Styles/color" as *;
@use "../../Styles/base" as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  min-width: 12rem;
  width: fit-content;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  font-weight: 600;
  line-height: 1.1;
  margin: 0 auto;
  @include shadow-sm;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:hover {
    transform: none;
  }
}

.button--primary {
  background-color: $primary-green;
  color: #ffffff;

  &:hover:not(:disabled) {
    opacity: 0.95;
  }
}

.button--secondary {
  background-color: $background-light;
  color: $text-color;
  border-color: $border-color;

  &:hover:not(:disabled) {
    background-color: $primary-beige;
  }
}

.button--text {
  background-color: transparent;
  color: $primary-green;
  border-color: transparent;
  box-shadow: none;
  padding: 0.5rem 0.25rem;

  &:hover:not(:disabled) {
    text-decoration: underline;
  }
}
