@use "../../Styles/color" as *;
@use "../../Styles/base" as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  min-width: 12rem;
  width: fit-content;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  margin: 0 auto;
  @include shadow-sm;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:hover {
    transform: none;
  }

  &:focus {
    outline: 2px solid $primary-green;
    outline-offset: 2px;
  }
}

.button--primary {
  background-color: $primary-green;
  color: #ffffff;

  &:hover:not(:disabled) {
    opacity: 0.95;
  }
}

.button--secondary {
  background-color: $primary-beige;
  color: $text-color;
  border-color: $border-dark-color;

  &:hover:not(:disabled) {
    background-color: $error-color;
  }
}


