/**
 * GrowingTipsList component styles.
 * 
 * Uses:
 * - Styles/color.scss - Color variables ($primary-green)
 * - Styles/base.scss - Mixins (@include flex-column, @include tablet)
 */

@use "../../../Styles/color" as *;
@use "../../../Styles/base" as *;

.growing-tips-list {
  @include flex-column;
  gap: 0;
}

.growing-tip-item {
  @include flex-column;
  padding: 1.5rem 0;

  @include tablet {
    padding: 2rem 0;
  }
}

.growing-tip-item__header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0;

  @include tablet {
    gap: 1rem;
  }
}

.growing-tip-item__title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: $primary-green;
  line-height: 1.3;

  @include tablet {
    font-size: 1.5rem;
  }
}

.growing-tip-item__text {
  margin-top: -0.5rem ;
  width: 100%;

  @include tablet {
    line-height: 1.7;
  }
}
