@use "../../Styles/color" as *;
@use "../../Styles/base" as *;

.scroll-to-bottom {
  position: fixed;
  bottom: 2rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: $primary-green;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  box-shadow: $panel-shadow;
  @include transition(all);

  &:hover {
    background-color: $accent-green;
    transform: translateY(-0.25rem);
  }

  &:focus {
    outline: 2px solid $primary-green;
    outline-offset: 2px;
  }

  &:active {
    transform: translateY(0);
  }
}

