@use '../../../Styles/color' as *;
@use '../../../Styles/base' as *;

.planner-calculate-button__scroll-link {
  background: none;
  border: none;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  font: inherit;

  &:hover {
    opacity: 0.8;
  }
}

.planner-calculate-button__disabled-reason {
  margin: 0 0 0.25rem 0;
  text-align: center;
  font-size: $font-size-smaller;
  color: $warning-color;
  font-style: italic;
}
