@use "../../Styles/color" as *;
@use "../../Styles/base" as *;

.planner-date-input {
  width: 100%;
}

.planner-date-input__error {
  margin-top: 0.5rem;
  color: $error-color;
  font-size: $font-size-smaller;
}

.planner-date-input__warning {
  margin-top: 0.5rem;
  color: $warning-color;
  font-size: $font-size-smaller;
}

