@use '../Styles/color' as *;
@use '../Styles/mixins' as *;

.home {
  @include container;
  @include flex-column;
  align-items: center;
  padding-top: 2rem;
  gap: 1rem;

  @include tablet {
    padding-top: 3rem;
    gap: 1.5rem;
  }
}

