@use '../Styles/color' as *;
@use '../Styles/mixins' as *;

.home {
  @include container;
  @include flex-column;
  align-items: center;
  padding-top: 2rem;

  @include tablet {
    padding-top: 3rem;
  }
  
  h1 {
    color: $primary-green;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

