@use "../../Styles/color" as *;

.plants-detail-card__image {
  width: 50%;
  height: auto;
  max-height: 14rem;
  object-fit: cover;
  border-radius: 0.75rem;
  border: 1px solid $border-color;
  background-color: $background-light;
  margin-bottom: 1rem;
}

.plants-detail-card__definition-list {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.25rem 0;
}

.plants-detail-card__definition-list dt {
  font-weight: 700;
  color: $text-color;
  margin-top: 0.75rem;
}

.plants-detail-card__definition-list dt:first-child {
  margin-top: 0;
}

.plants-detail-card__definition-list dd {
  margin: 0;
  color: $text-color;
}

.plants-detail-card__description {
  color: $text-light;
}

.plants-detail-card__link {
  color: $accent-green;
  text-decoration: underline;
}


