@use "../../Styles/color" as *;
@use "../../Styles/mixins" as *;

.remove-button {
  appearance: none;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  color: $warning-color;
  cursor: pointer;
  @include transition(color, transform);

  &:hover {
    color: #991b1b;
    transform: scale(1.3);
  }

  &:focus {
    outline: 2px solid $warning-color;
    outline-offset: 2px;
    border-radius: 0.25rem;
  }
}

