/**
 * Modal component styles.
 * 
 * Uses:
 * - Styles/color.scss - Color variables
 * - Styles/base.scss - Mixins
 * - Styles/modal.scss - Placeholders (%modal-overlay-base, %modal-base, %modal-header-base, %modal-close-base, %modal-content-base) - for modal base styles
 */

@use "../../Styles/color" as *;
@use "../../Styles/base" as *;
@use "../../Styles/modal" as *;


.modal-overlay {
  @extend %modal-overlay-base;
}

.modal {
  @extend %modal-base;
}

.modal__header {
  @extend %modal-header-base;
  position: relative;
}

.modal__title {
  flex: 1;
  text-align: center;
  padding-right: 2.75rem; // Compensate for close button width
}

.modal__close {
  @extend %modal-close-base;
  position: absolute;
  right: 0.75rem;
}

.modal__content {
  @extend %modal-content-base;
}

