@use "../../../Styles/color" as *;
@use "../../../Styles/base" as *;

.panel {
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.75rem;
  background-color: $background-light;
  border: 1px solid $border-color;
  box-shadow: $panel-shadow;
}

.panel__content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.panel--nested {
  border: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
}


