/**
 * PlantsSelectedSummary component styles.
 * 
 * Uses:
 * - Styles/color.scss - Color variables
 * - Styles/base.scss - Mixins
 */

@use "../../../Styles/color" as *;
@use "../../../Styles/base" as *;

.plants-selected-summary {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}




