/**
 * MyGardenSelectedPlants component styles.
 * 
 * Uses:
 * - Styles/color.scss - Color variables ($primary-green, $accent-green)
 * - Styles/base.scss - Mixins (@include flex-column, @include transition)
 */

@use "../../../Styles/color" as *;
@use "../../../Styles/base" as *;

.my-garden-selected-plants {
  @include flex-column;
  gap: 1rem;

  &__link {
    color: $primary-green;
    text-decoration: underline;
    @include transition(color);

    &:hover {
      color: $accent-green;
    }

    &:focus {
      outline: 2px solid $primary-green;
      outline-offset: 2px;
      border-radius: 0.25rem;
    }
  }
}
