@use "../../Styles/color" as *;
@use "../../Styles/base" as *;

.plants-search {
  width: 100%;
}

.plants-search__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.plants-search__label {
  font-weight: 600;
}

.plants-search__input-wrapper {
  position: relative;
}

.plants-search__clear {
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
  appearance: none;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  color: $text-light;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: calc(100% - 1rem);

  &:focus {
    outline: 2px solid $accent-green;
    outline-offset: 2px;
    border-radius: 0.25rem;
  }
}


