.planner-calculate-button__scroll-link {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  font: inherit;

  &:hover {
    opacity: 0.8;
  }
}
